@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.logs-container{
    
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    z-index: -666;
    margin-top: 3px;
    margin-left: 10px;
    width: 400px;
    max-width: 400px;
    background-color: #35353557;
    border-radius: 4px;
    /*margin: auto;*/
    overflow: hidden;
    color: var(--logs-color);
    position: relative;
}
.user{
    font-weight: bold;
}
.log-text{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    position: absolute;
    margin-top: auto;
    padding: 0.3rem;
    bottom: 0;
}
.log-text p {
    margin: 0;
    padding: 0;
}
#logs{
    overflow: hidden;
}
@media only screen and (max-width: 950px) {
    .logs-container{
        max-width: 400px;
        width: 100%;
        margin: auto;
        height: 145px;
        margin-top: 10px;
    }
    .log-text{
        font-size: 0.8em;
    }
 }
 @media only screen and (max-width: 400px) {
    .logs-container{
        max-width: 400px;
        width: 100%;
        margin: auto;
        height: 180px;
        margin-top: 10px;
    }
    .log-text{
        font-size: 0.8em;
    }
 }