@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.logs-container{
    
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    
    margin-top: 3px;
    margin-left: 10px;
    width: 400px;
    max-width: 400px;
    background-color: #35353557;
    border-radius: 4px;
    /*margin: auto;*/
    overflow: hidden;
    color: var(--logs-color);
    position: relative;
}
.user{
    font-weight: bold;
}
.scrollThis{
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: auto;
}
.log-text{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    position: absolute;
    margin-top: auto;
    padding: 0.3rem;
    bottom: 0;
    
}
.log-text p {
    margin: 0;
    padding: 0;
}

#title-sm{
    display: none;
}
#omg{
    max-height: 400px;
}
#controls-container{
    margin-right: 10px;
}
@media only screen and (max-width: 950px) {
    .logs-container{
        max-width: 400px;
        width: 100%;
        margin: auto;
        height: 145px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #controls-container{
        max-width: 400px;
        width: 100%;
        margin: auto;
        height: 145px;
        margin-top: 10px;
    }
    .log-text{
        font-size: 0.8em;
    }
    
 }
 @media only screen and (max-width: 400px) {
    .logs-container{
        max-width: 400px;
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 80px;
    }
    .log-text{
        font-size: 0.8em;
    }
    
    #title{
        display: none;
    }
    #title-sm{
        display: block;
    }
 }

 .log-text input{
    font-family: 'Roboto Mono';
    text-shadow: 0 0 0 var(--logs-color);
    width: 100%;
    height: 100%;
    border: 0px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 4px;
    color: var(--logs-color);
 }

  
  @keyframes blinker {  
    50% { opacity: 0; }
  }

