.tracker-engine{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width: 950px) {
    .tracker-engine{
        flex-direction: column-reverse;
    }
}

#modal{
    transition: var(--transition-speed);
}
.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-modal);
    z-index: 10;
    transition: var(--transition-speed);
}

.modal-content{
    background-color: var(--bg-primary);
    border-radius: 17px;
    opacity: 1;
    margin: 100px calc(50vw - 240px + 40px);
    height: 400px;
    width: 480px;
    text-align: center;
}
.modal-header{
    border-radius: 17px 17px 0 0;
    height: 60px;
    background-color: var(--bg-secondary);
}
.modal h1{
    color: var(--text-secondary);
    letter-spacing: 0.3ch;
    font-weight: bold;
    text-transform: uppercase;
}
.modal p{
    color: var(--text-secondary);
    
}
@media only screen and (max-width: 950px) {

}
@media only screen and (max-width: 600px) {
    .modal p{
        margin-top: 30px;
    }
    .modal h1{
        margin-bottom: 17px;
    }
    .modal-content{
        max-width: 90vw;
        margin: 110px auto;
    }
}
a{
    text-decoration: none;
    outline: none; 
    color: inherit;
}

.crossIcon svg{
    position: relative;
    width: 50px;
    height: 50px;
    top: 280px;
}

.modal-text{
    padding: 0 15px;
    height: 265px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
.invisible-scrollbar{
  scrollbar-width: none;
}
.welcome-video{
    width: 100%;
    padding-top: 20px;
    border-radius: 0 0 17px 17px;
    padding: 0;
    text-decoration: none;
    outline: none;
}
.video-content{
    height: 200px;
}
#skip{
    z-index: 10;
    text-align: center;
    position: relative;
    top: 0px;
    color: var(--text-secondary);
    background-color: rgba(194, 194, 194, 0.123);
    width: 70px;
    height: 25px;
    margin: auto;
    border-radius: 3px;
    transition: var(--transition-speed);
    cursor: pointer;
}
.invisible{
    opacity: 0;
}
.p-0{
    margin: 15px;
}
#logs-show{
    position: relative;
    width: 250px;
    margin: auto;
}
#logs-show .user{
    color: var(--logs-color);
}

#logs-show input{
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 4px;
}
.modal-text p{
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--bg-modal);
    border-radius: 5px;
  }
  
  /* Add a thumb */
  .customized-scrollbar::-webkit-scrollbar-thumb {
      background: #df49a6; 
      border-radius: 5px;
  }
  h2{
    color: var(--text-secondary);
  }
  h3{
    color: var(--text-secondary);
  }
  h4{
    margin-top: 5px;
    margin-bottom: 0px;
    color: var(--text-secondary);
  }

  .out-link{
      text-decoration: underline;
      text-decoration-color: red;
  }

  .display-none{
      display: none;
  }
  .next-btn{
      background-color: var(--logs-color);
      width: 130px;
      border-radius: 5px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      animation: ani 1.7s infinite;
  }
  @keyframes ani {
    0% {
        width: 130px;
        opacity: 0.8;
    }
    50% {
        width: 140px;
        opacity: 1;

    }
    100% {
        width: 130px;
        opacity: 0.8;
    }
  }
  #close-video{
    z-index: 10;
    text-align: center;
    position: relative;
    color: var(--text-secondary);
    width: 50px;
    margin: auto;
    border-radius: 3px;
    transition: var(--transition-speed);
    cursor: pointer;
  }