.tracker-engine{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width: 950px) {
    .tracker-engine{
        flex-direction: column-reverse;
    }
}


.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-modal);
    z-index: 10;
    transition: var(--transition-speed);
}

.modal-content{
    background-color: var(--bg-primary);
    border-radius: 17px;
    opacity: 1;
    margin: 100px calc(50vw - 240px + 40px);
    height: 400px;
    width: 480px;
    text-align: center;
}
.modal-header{
    border-radius: 17px 17px 0 0;
    height: 60px;
    background-color: var(--bg-secondary);
}
.modal h1{
    color: var(--text-secondary);
    letter-spacing: 0.3ch;
    font-weight: bold;
    text-transform: uppercase;
}
.modal p{
    color: var(--text-secondary);
}
@media only screen and (max-width: 950px) {

}
@media only screen and (max-width: 600px) {
    .modal p{
        margin-top: 30px;
    }
    .modal-content{
        max-width: 90vw;
        margin: 15px auto;
    }
}
a{
    text-decoration: none;
    outline: none; 
}

.crossIcon svg{
    position: relative;
    width: 50px;
    height: 50px;
    top: 280px;
}

.modal-text{
    padding: 0 15px;
    height: 265px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
.invisible-scrollbar{
  scrollbar-width: none;
}